:root {
  color-scheme: dark;
}

::selection {
  background-color: var(--orange);
}

body {
  --white: #fff;
  --black: #000;
  --light-grey: #949697;
  --grey: #212121;
  --dark-grey: #1a1a1a;
  --blurple: #242230;
  --red: #c72222;
  --orange: #e6663b;

  color: #fff;
  background-color: var(--black);
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}

.main-header {
  background-image: url("header-banner.png");
  background-position: center;
  background-position-y: -2rem;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  user-select: none;
}
.main-header img {
  height: 85px;
  margin: 5px 5px 30px 5px;
}

.main-header h1 {
  margin: 0;
  text-shadow: 1px 4px 8px black;
  font-size: 3rem;
  font-weight: 900;
}
.main-header h2 {
  margin: 0;
  text-shadow: 1px 4px 5px black;
}

.total-server-container {
  margin: 15px;
}
.total-server-container h3 {
  color: var(--white);
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

section {
  flex-basis: 30%;
  margin-bottom: 20px;
}
table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
  max-width: 360px;
  border-radius: 8px;
  overflow: hidden;
}
thead tr {
  color: black;
  background-color: var(--orange);
  font-weight: bold;
  user-select: none;
}
thead td {
  padding: 10px;
}
th, td {
  text-align: left;
  padding: 5px;
  text-align: center;
}
tr {
  background-color: var(--dark-grey);
}
tr:nth-child(even){background-color: var(--black);}
tbody tr:hover {background-color: #333333;}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px 20px 5px 20px;
  background: var(--dark-grey);
  box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 20px 6px 20px 6px rgba(0, 0, 0, 0.19);
}
.footer p {
  margin: 0;
  float: left;
}
.footer-links {
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
}
.footer-links:hover {
  color: var(--orange);
}
.footer-api-link {
  margin: 0;
  padding: 0;
  float: none;
  color: var(--white);
}
.footer-api-link:hover {
  color: var(--orange);
  text-decoration: underline;
}
.github-link {
  color: var(--white);
  padding-right: 40px;
  float: right;
  font-weight: bold;
  text-decoration: none;
}
.github-link:hover {
  color: var(--orange);
}